
  .paginate_button{
    padding-left:5px;
  }
  label {
    margin-bottom: 0rem;
    margin-top: 5px;
  }
  .form-group {
      margin-bottom: 0rem;
  }
  #example_wrapper{
    display: block;
  }
  #example1_wrapper{
    display: block;
  }
  .margin_right_5{
    margin-right: 5px;
  }
  .btn-group .btn:not(:last-child):not(.dropdown-toggle), .btn-group .btn-group:not(:last-child) .btn {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
  }
  .btn-group .btn:not(:first-child), .btn-group .btn-group:not(:first-child) .btn {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
  }

  .btn_default{
    background-color: #6599ac;
    border-color: #6599ac;
    color:#fff;
  }
  table.dataTable thead .sorting_asc:after {
    opacity: 1;
    content: "\21E9";
  }
  table.dataTable thead .sorting_desc:after {
    opacity: 1;
    content: "\21E7";
  }
  table.dataTable thead .sorting:after {
    opacity: 0.8;
    content: "\21E9";
  }
  .btn-group .btn:not(:last-child):not(.dropdown-toggle), .btn-group .btn-group:not(:last-child) .btn {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
  }
  .btn-group .btn:not(:first-child), .btn-group .btn-group:not(:first-child) .btn {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
  }
  .modal-content {
    width: 57%;
  }
  .modal-header {
    padding: 4px 12px 2px 0px !important;
  }
  .modal-footer {
    padding: 6px 5px 6px 0px;
  }
  .modal.show .modal-dialog {
    top: 35%;
    left: 10%;
  }

@media screen and (min-width: 320px) and (max-width: 767px){
    div.dataTables_wrapper div.dataTables_filter input {
        margin-left: 0.5em;
        display: inline-block;
        width: 77% !important;
    }
    div.dataTables_wrapper div.dataTables_length select {
        width: 128px !important;
        display: inline-block;
        margin-left: 17px !important;
    }
}