.paginate_button{
    padding-left:5px;
  }
  div.dataTables_wrapper div.dataTables_filter {
    display: none;
  }
  label {
    margin-bottom: 0rem;
    margin-top: 5px;
  }
  .form-group {
      margin-bottom: 0rem;
  }
  #example_wrapper{
    display: block;
  }
  #example1_wrapper{
    display: block;
  }
  .margin_right_5{
    margin-right: 5px;
  }
  .btn-group .btn:not(:last-child):not(.dropdown-toggle), .btn-group .btn-group:not(:last-child) .btn {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
  }
  .btn-group .btn:not(:first-child), .btn-group .btn-group:not(:first-child) .btn {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
  }

  .btn_default{
    background-color: #6599ac;
    border-color: #6599ac;
    color:#fff;
  }
  table.dataTable thead .sorting_asc:after {
    opacity: 1;
    content: "\21E9";
  }
  table.dataTable thead .sorting_desc:after {
    opacity: 1;
    content: "\21E7";
  }
  table.dataTable thead .sorting:after {
    opacity: 0.8;
    content: "\21E9";
  }
  .padding_20_0{
    padding: 20px 0px 0px 20px;
  }
  .margin_left_m_15{
    margin-left:-15px;
  }
  @media screen and (min-width: 320px) and (max-width: 767px){
    .margin_left_0{
      margin-left:0px;
    }
    .margin_right_0{
      margin-right:0px;
    }
    .mobliev_margin_top_15{
      margin-top:15px;
    }
    div.dataTables_wrapper div.dataTables_paginate {
      padding-left: 15px;
    }
    .form-control {
      width: 92%;
      margin-top: 10px;
    }
    .btn_default {
      margin-top: 15px;
    }
  }
