
.input-sm{
    margin-left: 5px;
    margin-right: 5px;
}
table.dataTable thead .sorting_asc:after {
    opacity: 1;
    content: "\21E9";
}
table.dataTable thead .sorting_desc:after {
    opacity: 1;
    content: "\21E7";
}
table.dataTable thead .sorting:after {
    opacity: 0.8;
    content: "\21E9";
}
.paginate_button{
    padding-left:5px;
}
#example_wrapper{
    display: block;
}
#example1_wrapper{
    display: block;
}
.margin_top_2{
    margin-top:2%;
}
.Since_label{
    margin-top:13%;margin-left: 61%;
}
.Until_label{
    margin-top:13%;margin-left: 61%;
}
@media screen and (max-width: 767px){
    .Since_label{
        margin-top:5%;margin-left: 0%;
    }
    .serch_report_div{
        padding: 0px 15px 10px 15px;
    }
    label {
        margin-top: 0.5rem;
    }
    div.dataTables_wrapper div.dataTables_filter input {
        margin-left: 0.5em;
        display: inline-block;
        width: 77% !important;
    }
    div.dataTables_wrapper div.dataTables_length select {
        width: 128px !important;
        display: inline-block;
        margin-left: 17px !important;
    }
}