  .form-control1 {
    width: 122% !important;
  }
  div.dataTables_wrapper div.dataTables_filter {
    display: none;
  }
  table.dataTable thead .sorting_asc:after {
    opacity: 1;
    content: "\21E9";
  }
  table.dataTable thead .sorting_desc:after {
    opacity: 1;
    content: "\21E7";
  }
  table.dataTable thead .sorting:after {
    opacity: 0.8;
    content: "\21E9";
  }
  .input-sm{
    margin-left: 5px;
    margin-right: 5px;
  }
  .paginate_button{
    padding-left:5px;
  }
  #example_wrapper{
    display: block;
  }
  #example1_wrapper{
    display: block;
  }
  .margin_right_5{
    margin-right: 5px;
  }
  .btn-group .btn:not(:last-child):not(.dropdown-toggle), .btn-group .btn-group:not(:last-child) .btn {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
  }
  .btn-group .btn:not(:first-child), .btn-group .btn-group:not(:first-child) .btn {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
  }
  .upload_btn{
    float: right;
    margin-right: -15px;
    background-color: #6599ac;
    border-color: #6599ac;
  }
  .padding_20{
    padding:20px;
  }
  .margin_left_m_15{
    margin-left:-15px;
  }
  .margin_top_15{
    margin-top:15px;
  }
  .margin_left_10{
    margin-left:10px;
  }
  @media screen and (min-width: 320px) and (max-width: 767px){
    .form-control1 {
      width: 100% !important;
    }
    .margin_left_0{
      margin-left:0px;
    }
    .custom-file-label {
      width: 90%;
      margin-left: 15px;
    }
    .margin_right_0{
      margin-right:0px;
    }
    .mobliev_margin_top_15{
      margin-top:15px;
    }
    div.dataTables_wrapper div.dataTables_paginate {
      padding-left: 15px;
    }
  }
