label {
    margin-bottom: 0rem;
    margin-top: 5px;
}
.paginate_button{
    padding-left:5px;
}
.form-group {
    margin-bottom: 0rem;
}
#example_wrapper{
    display: block;
}
table.dataTable thead .sorting_asc:after {
    opacity: 1;
    content: "\21E9";
}
table.dataTable thead .sorting_desc:after {
    opacity: 1;
    content: "\21E7";
}
table.dataTable thead .sorting:after {
    opacity: 0.8;
    content: "\21E9";
}
.margin_right_5{
    margin-right: 5px;
}
.btn-group  .btn:not(:last-child):not(.dropdown-toggle), .btn-group .btn-group:not(:last-child) .btn {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}
.btn-group .btn:not(:first-child),.btn-group .btn-group:not(:first-child) .btn {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}
.modal-content {
    width: 57%;
}
.modal-header {
    padding: 9px 20px 0px 10px !important;
}
.modal-footer {
    padding: 6px 5px 6px 0px;
}
.modal.show .modal-dialog {
    top: 16.5%;
    left: 8%;
}
.error {
	color: red;
}
#errorMsg{
	  color:red;
}
#errorMsgUpdate{
    color:red;
}
.form-group {
    margin-bottom: 0.5rem;
}
.modal.show .modal_dialog_new{
    box-shadow: 0px 0px 5px 3px #888888;
}
label.required:after {content: " *"; color: red;}
@media screen and (min-width: 320px) and (max-width: 767px){
    div.dataTables_wrapper div.dataTables_filter input {
        margin-left: 0.5em;
        display: inline-block;
        width: 77% !important;
    }
    div.dataTables_wrapper div.dataTables_length select {
        width: 128px !important;
        display: inline-block;
        margin-left: 17px !important;
    }
    div.dataTables_wrapper div.dataTables_info {
        margin-left: -20px;
    }
}
@media screen and (min-width: 410px) and (max-width: 767px){
    div.dataTables_wrapper div.dataTables_info {
        margin-left: -58px;
    }
}